<div class="section section-contact-3" id="contact">
  <div class="contact-container">
    <div class="address-container add-animation animation-1">
      <div class="address">
        <h4>Where to meet ?</h4>
        <p class="text-gray">
          522 W RIVERSIDE AVE<br />
          SPOKANE, WA 99201<br />
          USA
        </p>
        <h4>Phone</h4>
        <p class="text-gray">+1 (866) 790 2399</p>
        <h4>Email</h4>
        <a href="mailto:hello@watheialabs.com">
          <p class="text-gray">hello@watheialabs.com</p>
        </a>
      </div>
    </div>
    <div class="map">
      <div id="contactUsMap" class="big-map"></div>
    </div>
  </div>
</div>