<div class="section section-numbers-1" id="numbers">
  <div class="container">
    <div class="text-area">
      <div class="title add-animation">
        <h5 class="text-gray">People lie</h5>
        <h2>Numbers don't</h2>
        <div class="separator-container">
          <div class="separator line-separator">∝</div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="card add-animation animation-1">
          <h3>Projects</h3>
          <h5 class="text-gray">Enterprises, small businesses and hipsters</h5>
          <div class="number" id="customersNo">12</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card add-animation animation-2">
          <h3>Case Studies</h3>
          <h5 class="text-gray">Design, DevOps, Systems</h5>
          <div class="number" id="projectsNo">8</div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="card add-animation animation-3">
          <h3>Design Systems</h3>
          <h5 class="text-gray">Where you can find us or our stuff</h5>
          <div class="number" id="citiesNo">26</div>
        </div>
      </div>
    </div>
  </div>
</div>