<div class="section section-we-made-1 section-with-hover" id="projects">
  <div class="text-area">
    <div class="title add-animation">
      <h5 class="text-gray">Services</h5>
      <h2>What we can offer you</h2>
      <div class="separator-container">
        <div class="separator line-separator">∝</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="project add-animation animation-1">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_1">
          <div class="content">
            <h4>Digital Design.</h4>
            <p>
              Turn your daytrip into a disco, make your picnic a party, watch while
              you work, boogie on the beach, and bring crisp, clear sound wherever you
              go. Because great sound makes everything better.
            </p>
            <p>Click for more details...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project add-animation animation-2">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_2">
          <div class="content">
            <h4>Software Development.</h4>
            <p>
              Our app for iPhone and iPad. Made for you to hear more. More trending
              tracks. More of your favorite artists. More of the music & audio you
              love. The SoundCloud app lets you hear more of what you want to hear.
              Sounds good, doesn’t it?
            </p>
            <p>Click for more details...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project add-animation animation-1">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_3">
          <div class="content">
            <h4>Project Management</h4>
            <p>
              Eye catching style! No cords. No docks. No plugs. And it gets a whopping
              15 hours of playback from a single charge, so you'll need a rest before
              it ever will.
            </p>
            <p>Click for more details...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="project add-animation animation-2">
        <img src="assets/img/rubik_background2.jpg" />
        <a class="over-area" href="javascript:void(0)" onClick="rubik.showModal(this)" data-target="project_4">
          <div class="content">
            <h4>Special Projects</h4>
            <p>
              Whatever you’re doing or feeling, we’ll find playlists to match your
              mood.
            </p>
            <p>Click for more details...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>