<div class="section section-clients-1" id="clients">
  <div class="container">
    <div class="text-area">
      <div class="title add-animation">
        <h5 class="text-gray">Our Clients &</h5>
        <h2>Our Partners</h2>
        <div class="separator-container">
          <div class="separator line-separator">âˆ</div>
        </div>
      </div>
    </div>

    <div class="list-logos">
      <div class="row">
        <div class="col-md-4">
          <div class="logo add-animation animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/beats.svg" />
              <img alt="..." src="assets/img/clients/beats_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/samsung.svg" />
              <img alt="..." src="assets/img/clients/samsung_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/vh1.svg" />
              <img alt="..." src="assets/img/clients/vh1_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/vaio.svg" />
              <img alt="..." src="assets/img/clients/vaio_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/soundcloud.svg" />
              <img alt="..." src="assets/img/clients/soundcloud_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/skullcandy.svg" />
              <img alt="..." src="assets/img/clients/skullcandy_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/pandora.svg" />
              <img alt="..." src="assets/img/clients/pandora_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/spotify.svg" />
              <img alt="..." src="assets/img/clients/spotify_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/lastfm.svg" />
              <img alt="..." src="assets/img/clients/lastfm_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-1">
            <a href="#">
              <img alt="..." src="assets/img/clients/apple.svg" />
              <img alt="..." src="assets/img/clients/apple_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-2">
            <a href="#">
              <img alt="..." src="assets/img/clients/sony.svg" />
              <img alt="..." src="assets/img/clients/sony_h.svg" />
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="logo add-animation animation-3">
            <a href="#">
              <img alt="..." src="assets/img/clients/lg.svg" />
              <img alt="..." src="assets/img/clients/lg_h.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>