<div class="section section-team-1">
  <div class="container">
    <div class="text-area">
      <div class="title add-animation">
        <h5 class="quotes large">
          The app is just amazing, I actually used everywhere. It just makes my life
          easier
        </h5>
        <br />
        <p>Cherciu,Designer @ UNIBUC</p>
      </div>
    </div>
  </div>
  <div class="static-image gradient-image add-animation animation-1">
    <img src="assets/img/team/team1.jpg" />
  </div>
</div>