<section class="section section-we-are-2" id="whoWeAre">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="title add-animation">
            <h5 class="text-gray">Est. 2020</h5>
            <h2>
              Build <br />
              Amazing <br />
              Products!
            </h2>
            <div class="separator-container">
              <div class="separator line-separator">∝</div>
            </div>
          </div>
        </div>

        <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">
          <div class="description add-animation animation-1">
            <p>
              We are 'Watheia Lbs', a tech startup specializing in the fusion of
              beautiful design and powerful engineering. We make and sell the
              mechanisms that let you listen to your favourite music everywhere!
            </p>
            <p>
              With our prestigious craftsmanship, remarkable client care and passion
              for design, you could say we’re the ‘all singing, all dancing’ kind.
            </p>
            <p>We think you’ll love working with us.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel">
    <div id="carousel-example-generic" class="carousel slide add-animation add-animation-1" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner pattern-image animate">
        <div class="item active">
          <img class="full-image" src="assets/img/rubik_background4.jpg" alt="Awesome Image" />
        </div>

        <div class="item">
          <img class="full-image" src="assets/img/rubik_background4.jpg" alt="Awesome Image" />
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span
          class="fa fa-angle-left hidden-md hidden-lg"></span></a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span
          class="fa fa-angle-right hidden-ms hidden-lg"></span></a>
    </div>
  </div>
</section>