<div class="section section-we-do-1" id="workflow">
  <div class="text-area">
    <div class="container">
      <div class="row">
        <div class="title add-animation">
          <h5 class="text-gray">Find out</h5>
          <h2>How we work</h2>
          <div class="separator-container">
            <div class="separator line-separator">∝</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-1">
            <h5 class="text-gray">01.</h5>
            <h3>Object of choice</h3>
            <p>
              We make the objects that bring music closer to you. If you want to play
              music at home on a bad ass box of take in on the road with headphones,
              we make all the options possible.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-2">
            <h5 class="text-gray">02.</h5>
            <h3>Download Songs</h3>
            <p>
              Once you are all set up, you need something to jam to. So we thought
              about how to give you access to it in the smoothest possible way. So we
              introduce to you our app/1
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-3">
            <h5 class="text-gray">03.</h5>
            <h3>Listen Offline</h3>
            <p>
              Not only does our app lets you download the music you want, but you can
              also listen to it offline. Take it everywhere with you and let it set
              the soundtrack to your life.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card add-animation animation-4">
            <h5 class="text-gray">04.</h5>
            <h3>Premium is Better</h3>
            <p>
              We have a great lot of extra features that you can enjoy with the
              premium plan. Learn about concerts, share music with friends, get
              special discounts on new offers and more!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>